In [1]:
import pandas as pd
import numpy as np
import csv
import sqlite3

from sklearn.datasets import load_wine
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, BaggingClassifier
from sklearn.model_selection import train_test_split

from sklearn.linear_model import LogisticRegression, SGDClassifier
from sklearn.svm import SVC
from sklearn.metrics import roc_curve, auc

from sklearn.metrics import accuracy_score

import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
filename_csv='/Users/xzhou/github/project_files/lending_club/loan.csv'
df=pd.read_csv(filename_csv)

/Users/xzhou/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (19,55) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,1077501,1296599,5000.0,5000.0,4975.0,36 months,10.65,162.87,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1077430,1314167,2500.0,2500.0,2500.0,60 months,15.27,59.83,C,C4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1077175,1313524,2400.0,2400.0,2400.0,36 months,15.96,84.33,C,C5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1076863,1277178,10000.0,10000.0,10000.0,36 months,13.49,339.31,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1075358,1311748,3000.0,3000.0,3000.0,60 months,12.69,67.79,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df.shape

(887379, 74)

In [ ]:
df.groupby('loan_status').count()

In [ ]:
def assign_status (x):
    excluded = ['Issued',
                'Does not meet the credit policy. Status:Charged Off',
                'Does not meet the credit policy. Status:Fully Paid',
               ]
    good = ['Current', 'Fully Paid']
    bad = ['Charged off', 'Default', 'Fully Paid', 'In Grace Period', 'Late (16-30 days)', 'Late (31-120 days)']
    
    if x in criteria:
        return True
    else:
        return False

In [ ]:
df_cleaned=df[df.total_bal_il.notnull()]

In [ ]:
df_cleaned.shape

In [ ]:
df_cleaned.head(20)

In [2]:
filename_sql = '/Users/xzhou/github/project_files/lending_club/database.sqlite'

conn = sqlite3.connect(filename_sql)

In [9]:
c=conn.cursor()
#grade = ('A')
c.execute("SELECT * FROM loan LIMIT 10;")
a=c.fetchall()

In [10]:
df_test=pd.DataFrame(a)

In [11]:
df_test.head()

,0,1,2,3,4,5,6,7,8,9,...,65,66,67,68,69,70,71,72,73,74
0,0,1077501,1296599.0,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,...,None,None,None,None,None,None,None,None,None,None
1,1,1077430,1314167.0,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,...,None,None,None,None,None,None,None,None,None,None
2,2,1077175,1313524.0,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,...,None,None,None,None,None,None,None,None,None,None
3,3,1076863,1277178.0,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C,...,None,None,None,None,None,None,None,None,None,None
4,4,1075358,1311748.0,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B,...,None,None,None,None,None,None,None,None,None,None

In [12]:
df_test22=df_test[df_test.total_bal_il.notnull()]

AttributeError: 'DataFrame' object has no attribute 'total_bal_il'

In [ ]:
df_cleaned.head()

In [ ]:
df_cleaned. columns

In [ ]:
df_cleaned.groupby(['loan_status']).count().head()

In [ ]:
filter=['loan_status','loan_amt', 'int_rate', 'inq_last6mths']

In [ ]:
df_smaller=df_cleaned.filter(items=filter)

In [ ]:
y=df_smaller['loan_status']
X=df_smaller.drop('loan_status', axis=1)

In [ ]:
X_train, X_test, y_train, y_test=train_test_split(X, y, test_size=0.3, random_state=99)

In [ ]:
models = [RandomForestClassifier(n_estimators=100, n_jobs=-1, max_depth=10), DecisionTreeClassifier(max_depth=None), 
          BaggingClassifier(base_estimator=DecisionTreeClassifier(),n_estimators=100, n_jobs=-1),
          SVC(probability=True), LogisticRegression(C=0.1), SGDClassifier(loss='log', random_state=42, alpha=0.01)]
model_names = ["Random Forest", "Decision Tree",'Bagging Classifier','SVC','Logistic','SGD-Log']

In [ ]:
## always guess the marjority of class

from sklearn.dummy import DummyClassifier

In [ ]:
from sklearn.preprocessing import StandardScaler

ss = StandardScaler()
ss.fit(X_train)
X_train = ss.transform(X_train)
X_test = ss.transform(X_test)

In [ ]:
scores=[]
for clf, name in zip(models, model_names):
    clf.fit(X_train, y_train)
    y_pred = clf.predict_proba(X_test)
    scores.append[accuracy_score(preds, y)]